/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.row {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.natural-height {
  align-items: flex-start;
}

.row.flex-column {
  flex-direction: column;
}

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col.reverse {
  flex-direction: column-reverse;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.align-baseline {
  align-self: baseline;
}

.align-stretch {
  align-self: stretch;
}

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 1.5rem;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 1.5rem;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 1.5rem;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.row.start-xs {
  justify-content: flex-start;
}

.row.center-xs {
  justify-content: center;
}

.row.end-xs {
  justify-content: flex-end;
}

.row.top-xs {
  align-items: flex-start;
}

.row.middle-xs {
  align-items: center;
}

.row.bottom-xs {
  align-items: flex-end;
}

.row.around-xs {
  justify-content: space-around;
}

.row.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 576px) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .row.start-sm {
    justify-content: flex-start;
  }

  .row.center-sm {
    justify-content: center;
  }

  .row.end-sm {
    justify-content: flex-end;
  }

  .row.top-sm {
    align-items: flex-start;
  }

  .row.middle-sm {
    align-items: center;
  }

  .row.bottom-sm {
    align-items: flex-end;
  }

  .row.around-sm {
    justify-content: space-around;
  }

  .row.between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 768px) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .row.start-md {
    justify-content: flex-start;
  }

  .row.center-md {
    justify-content: center;
  }

  .row.end-md {
    justify-content: flex-end;
  }

  .row.top-md {
    align-items: flex-start;
  }

  .row.middle-md {
    align-items: center;
  }

  .row.bottom-md {
    align-items: flex-end;
  }

  .row.around-md {
    justify-content: space-around;
  }

  .row.between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 992px) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .row.start-lg {
    justify-content: flex-start;
  }

  .row.center-lg {
    justify-content: center;
  }

  .row.end-lg {
    justify-content: flex-end;
  }

  .row.top-lg {
    align-items: flex-start;
  }

  .row.middle-lg {
    align-items: center;
  }

  .row.bottom-lg {
    align-items: flex-end;
  }

  .row.around-lg {
    justify-content: space-around;
  }

  .row.between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
@media only screen and (min-width: 1260px) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .row.start-xl {
    justify-content: flex-start;
  }

  .row.center-xl {
    justify-content: center;
  }

  .row.end-xl {
    justify-content: flex-end;
  }

  .row.top-xl {
    align-items: flex-start;
  }

  .row.middle-xl {
    align-items: center;
  }

  .row.bottom-xl {
    align-items: flex-end;
  }

  .row.around-xl {
    justify-content: space-around;
  }

  .row.between-xl {
    justify-content: space-between;
  }

  .first-xl {
    order: -1;
  }

  .last-xl {
    order: 1;
  }
}
.col-gutter-lr {
  padding: 0 1.5rem;
}

.col-no-gutter {
  padding: 0;
}

.show {
  display: block !important;
}

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 575.9px) {
  .show-xs-only {
    display: block !important;
  }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xs-only {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) {
  .show-sm {
    display: block !important;
  }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.9px) {
  .show-sm-only {
    display: block !important;
  }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm-only {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .show-md {
    display: block !important;
  }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.9px) {
  .show-md-only {
    display: block !important;
  }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md-only {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .show-lg {
    display: block !important;
  }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1259.9px) {
  .show-lg-only {
    display: block !important;
  }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1260px) {
  .show-xl {
    display: block !important;
  }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xl {
    display: none !important;
  }
}
.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 15px;
}
.breadcrumb > li {
  color: #808184;
  font-size: 1.1rem;
  line-height: 1.5rem;
  display: inline-block;
}
.breadcrumb > li:after {
  content: ">";
  padding: 0 5px;
}
.breadcrumb > li:last-child:after {
  display: none;
}
.breadcrumb > li > a {
  color: #808184;
  text-decoration: none;
}
.breadcrumb > li > a:hover {
  text-decoration: underline;
}

.form_control {
  margin: 0;
  width: 100%;
  outline: none;
  height: 48px;
  color: #000;
  font-weight: 300;
  background: #fff;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 13px 10px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #ccc;
}
.form_control::-moz-placeholder {
  color: #000;
  opacity: 1;
}
.form_control:-ms-input-placeholder {
  color: #000;
}
.form_control::-webkit-input-placeholder {
  color: #000;
}
.form_control::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.form_control:focus, .form_control:active {
  outline: none;
  border-color: #444;
}
.form_control:focus::-moz-placeholder, .form_control:active::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_control:focus:-ms-input-placeholder, .form_control:active:-ms-input-placeholder {
  color: transparent;
}
.form_control:focus::-webkit-input-placeholder, .form_control:active::-webkit-input-placeholder {
  color: transparent;
}

.form_group {
  margin-bottom: 15px;
}

.form_label {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 5px;
  display: inline-block;
}

@media (min-width: 768px) {
  .form_inline {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .form_inline .form_label {
    padding-top: 10px;
    padding-bottom: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .form_inline .form_input {
    width: 300px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}

.form_interval {
  margin-left: -15px;
}
.form_interval__group {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.form_interval__label {
  width: 45px;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 10px 0 0 15px;
  display: inline-block;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.form_interval__input {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
@media (min-width: 576px) {
  .form_interval {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: -45px;
  }
  .form_interval__group {
    width: 50%;
  }
}

.form_checkbox {
  font-size: 0;
  line-height: 0;
  font-weight: 700;
  display: inline-block;
}
.form_checkbox input {
  display: none;
}
.form_checkbox span {
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 2rem;
  padding-left: 30px;
  min-height: 20px;
  position: relative;
  display: inline-block;
}
.form_checkbox span:before {
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "";
  position: absolute;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.form_checkbox span:after {
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  content: "";
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: inline-block;
  background: #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.form_checkbox span:hover:before {
  border-color: #555;
}
.form_checkbox span:hover:after {
  background: #555;
}
.form_checkbox input:checked + span:after {
  opacity: 1;
  visibility: visible;
}

.btn {
  color: #fff;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 12px 30px;
  outline: none;
  cursor: pointer;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: #675DC6;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid #675DC6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn:hover {
  color: #675DC6;
  background: #fff;
  border-color: #675DC6;
}
.btn:focus, .btn.focus {
  outline: 0;
}

.btn_transparent {
  color: #BABAD4;
  padding: 12px 5px;
  background: transparent;
  border-color: transparent;
}
.btn_transparent:hover {
  color: #444;
  background: transparent;
  border-color: transparent;
}

.btn_group {
  padding: 0;
  margin: 0 -10px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.btn_group > li {
  padding: 10px;
  margin-bottom: 5px;
}

.align_right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}

.flex_right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.color-blue {
  color: #675DC6 !important;
}

.color-red {
  color: #ff1d45 !important;
}

.color-yellow {
  color: #ffe14d !important;
}

.mb_10 {
  margin-bottom: 10px !important;
}

.mb_20 {
  margin-bottom: 20px !important;
}

.mb_25 {
  margin-bottom: 25px !important;
}

.pt_10 {
  padding-top: 10px !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #2B2A29;
  font-family: "Ubuntu", Arial, sans-serif;
  background-color: #fff;
  font-size: 1.6rem;
  line-height: 1.625;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 576px) {
  .container {
    width: 530px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .container {
    width: 1230px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

h1, .h1 {
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 3rem;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Ubuntu", Arial, sans-serif;
}
@media (min-width: 992px) {
  h1, .h1 {
    font-size: 3.6rem;
    line-height: 3.8rem;
  }
}

h2, .h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: "Ubuntu", Arial, sans-serif;
}

h3, .h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  font-family: "Ubuntu", Arial, sans-serif;
}

h4, .h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: "Ubuntu", Arial, sans-serif;
}

h5, .h5 {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  font-family: "Ubuntu", Arial, sans-serif;
}

h6, .h6 {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
  font-family: "Ubuntu", Arial, sans-serif;
}

a {
  outline: none;
  color: #0000FF;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #000;
  text-decoration: none;
}

.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1020;
  position: fixed;
  padding: 15px 0;
  background: #393d40;
}
.header__container {
  max-width: 1730px;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
.header__logo {
  width: 105px;
  height: 90px;
  display: none;
}
.header__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
.header__nav {
  font-size: 0;
  line-height: 0;
  margin-bottom: 10px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
.header__nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
.header__nav ul li {
  margin-right: 20px;
}
.header__nav ul li a {
  color: #fff;
  padding: 1px 0;
  font-size: 1.2rem;
  line-height: 2rem;
  display: inline-block;
}
.header__nav ul li a:hover {
  text-decoration: underline;
}
.header__nav ul li:last-child {
  margin-right: 0;
  padding-left: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.header__nav ul li:last-child a {
  position: relative;
  padding: 1px 40px 1px 0;
}
.header__nav ul li:last-child a i {
  top: 0;
  right: 0;
  width: 22px;
  position: absolute;
  display: inline-block;
}
.header__nav_user {
  color: #fff;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2rem;
  position: relative;
  display: inline-block;
}
.header__contact {
  text-align: right;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
.header__contact i {
  width: 30px;
  height: 31px;
  margin-right: 10px;
  display: inline-block;
}
.header__contact a {
  color: #fff;
  font-size: 1.3rem;
  line-height: 2.1rem;
  padding: 5px 0;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
}
.header__contact a:hover {
  color: #fff;
  text-decoration: none;
}
.header__search {
  display: none;
}
@media (min-width: 768px) {
  .header__container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .header__logo {
    display: block;
  }
  .header__nav {
    margin-bottom: 10px;
  }
  .header__contact {
    padding: 10px 10px;
    border: 1px dashed #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
  }
  .header__contact a {
    font-size: 1.7rem;
    line-height: 2.1rem;
  }
}
@media (min-width: 992px) {
  .header__bottom {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .header__search {
    padding: 12px 10px 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .header__search_toggle {
    width: 25px;
    height: 31px;
    display: block;
    cursor: pointer;
    margin-right: 20px;
  }
  .header__search_form {
    width: 350px;
    display: none;
    padding-right: 20px;
  }
  .header__search_input {
    margin: 0;
    width: 100%;
    outline: none;
    height: 31px;
    color: #fff;
    border: none;
    padding: 5px 0;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2rem;
    display: inline-block;
    vertical-align: middle;
    background: transparent;
    border-bottom: 1px solid #fff;
  }
  .header__search_input::-moz-placeholder {
    color: #fff;
    opacity: 1;
  }
  .header__search_input:-ms-input-placeholder {
    color: #fff;
  }
  .header__search_input::-webkit-input-placeholder {
    color: #fff;
  }
  .header__search_input::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  .header__search_input:focus, .header__search_input:active {
    outline: none;
    border-bottom-color: #fff;
  }
  .header__search_input:focus::-moz-placeholder, .header__search_input:active::-moz-placeholder {
    color: transparent;
    opacity: 1;
  }
  .header__search_input:focus:-ms-input-placeholder, .header__search_input:active:-ms-input-placeholder {
    color: transparent;
  }
  .header__search_input:focus::-webkit-input-placeholder, .header__search_input:active::-webkit-input-placeholder {
    color: transparent;
  }
  .header__search.open .header__search_form {
    display: block;
  }
}

.page {
  width: 100%;
  overflow: hidden;
  padding-top: 93px;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 768px) {
  .page {
    padding-top: 120px;
  }
}

.main {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.main.open_sidebar {
  margin-right: -280px;
  margin-left: 280px;
}
.main.open_sidebar .main__sidebar {
  left: 0;
  z-index: 800;
  background: #fff;
}
.main.open_sidebar .main__sidebar_wrap {
  opacity: 1;
  visibility: visible;
}
.main.open_sidebar .main__sidebar_toggle:after, .main.open_sidebar .main__sidebar_toggle:before {
  width: 30px;
  margin-left: -15px;
}
.main.open_sidebar .main__sidebar_toggle:after {
  margin-top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.main.open_sidebar .main__sidebar_toggle:before {
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.main.open_control .main__control {
  margin-right: 0;
}
.main.open_control .main__control {
  border-left-color: #D6D6E6;
}
.main.open_control .main__control_wrap {
  opacity: 1;
  visibility: visible;
}
.main.open_control .main__control_toggle:after, .main.open_control .main__control_toggle:before {
  width: 30px;
  margin-left: -15px;
}
.main.open_control .main__control_toggle:after {
  margin-top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.main.open_control .main__control_toggle:before {
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.main__sidebar {
  top: 93px;
  left: -265px;
  height: calc(100vh - 93px);
  width: 280px;
  z-index: 300;
  position: fixed;
}
.main__sidebar_toggle {
  top: 0;
  right: -40px;
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
  position: absolute;
  background: #F0F3F6;
}
.main__sidebar_toggle:after, .main__sidebar_toggle:before {
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 15px;
  height: 1px;
  content: "";
  margin-left: -7px;
  position: absolute;
  background: #675DC6;
}
.main__sidebar_toggle:after {
  margin-top: -6px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.main__sidebar_toggle:before {
  margin-top: 5px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.main__sidebar_wrap {
  opacity: 0;
  visibility: hidden;
  height: calc(100vh - 93px);
}
.main__sidebar:hover .scrollbar-thumb {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.main__heading {
  margin-bottom: 20px;
}
.main__heading h1 {
  margin-bottom: 0;
}
.main__filter {
  margin-bottom: 40px;
}
.main__filter ul {
  margin: 5px -10px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.main__filter ul li {
  padding: 0 10px;
  font-size: 1.6rem;
  line-height: 2rem;
}
.main__filter label {
  font-weight: 300;
  display: inline-block;
}
.main__filter label input {
  display: none;
}
.main__filter label span {
  color: #414244;
  cursor: pointer;
}
.main__filter label span:hover {
  color: #675DC6;
}
.main__filter label input:checked + span {
  color: #675DC6;
}
.main__content {
  padding: 45px 15px 30px 15px;
}
.main__control {
  top: 93px;
  right: 0;
  background: #fff;
  height: calc(100vh - 93px);
  width: 280px;
  z-index: 100;
  position: fixed;
  margin-right: -265px;
  border-left: 1px solid transparent;
}
.main__control_toggle {
  top: 0;
  left: -40px;
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
  position: absolute;
  background: #F0F3F6;
}
.main__control_toggle:after, .main__control_toggle:before {
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 15px;
  height: 1px;
  content: "";
  margin-left: -7px;
  position: absolute;
  background: #675DC6;
}
.main__control_toggle:after {
  margin-top: -6px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.main__control_toggle:before {
  margin-top: 5px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.main__control_wrap {
  opacity: 0;
  visibility: hidden;
  height: calc(100vh - 93px);
}
.main__control:hover .scrollbar-thumb {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 460px) {
  .main__control {
    width: 400px;
    margin-right: -385px;
  }
}
@media (min-width: 768px) {
  .main__sidebar {
    top: 120px;
    height: calc(100vh - 120px);
  }
  .main__filter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .main__filter ul {
    margin: 0 -10px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
  }
  .main__filter ul li {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .main__control {
    top: 120px;
    width: 530px;
    margin-right: -515px;
    height: calc(100vh - 120px);
  }
}
@media (min-width: 992px) {
  .main__sidebar {
    width: 322px;
    left: -307px;
  }
  .main__sidebar_toggle {
    width: 50px;
    height: 50px;
    right: -50px;
  }
  .main__content {
    padding: 30px 50px;
  }
  .main__filter {
    margin-bottom: 50px;
  }
  .main.open_sidebar {
    margin-right: 0;
    margin-left: 322px;
  }
}
@media (min-width: 1260px) {
  .main.open_control {
    padding-right: 530px;
  }
  .main__content {
    padding: 30px 80px;
  }
  .main__content_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .main__content_primary {
    padding-right: 40px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .main__content_second {
    padding-left: 40px;
    border-left: 1px solid #ccc;
  }
}
.filter_bar {
  margin: 0 -15px 40px -15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.filter_bar__elem {
  color: #818285;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2rem;
  position: relative;
  text-decoration: none;
  display: inline-block;
  padding: 0 20px;
  margin: 0 15px 10px 15px;
}
.filter_bar__elem:before {
  left: 0;
  top: 3px;
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  display: inline-block;
  background: url("../img/icon__filter.svg") 50% 50% no-repeat;
  background-size: cover;
}
.filter_bar__elem i {
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  display: inline-block;
}
.filter_bar__elem i:after, .filter_bar__elem i:before {
  top: 50%;
  right: 0;
  width: 14px;
  height: 1px;
  content: "";
  position: absolute;
  background: #818285;
  display: inline-block;
}
.filter_bar__elem i:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.filter_bar__elem i:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.filter_bar__result {
  color: #675DC6;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2rem;
  margin: 0 15px;
}
@media (min-width: 992px) {
  .filter_bar {
    margin: 0 -20px 40px 0;
  }
  .filter_bar__elem {
    margin: 0 20px;
  }
  .filter_bar__result {
    font-size: 1.8rem;
    margin: 0 20px;
  }
}

.hardware {
  margin-bottom: 60px;
}
.hardware__nav {
  padding: 0;
  z-index: 10;
  margin: 0 -10px;
  list-style: none;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.hardware__nav li {
  padding: 0 10px;
  margin-bottom: 10px;
}
.hardware__nav li a {
  color: #000;
  font-size: 1.6rem;
  line-height: 2rem;
  position: relative;
  text-decoration: none;
  display: inline-block;
}
.hardware__nav li a:hover {
  color: #675DC6;
}
.hardware__nav li a i {
  display: none;
}
.hardware__nav li.active a {
  color: #675DC6;
}
.hardware__tab {
  position: relative;
}
.hardware__tab:before {
  top: 0;
  left: 0;
  width: 1px;
  content: "";
  bottom: 40px;
  position: absolute;
  background: #ccc;
}
.hardware__row {
  width: auto;
  margin-bottom: 40px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.hardware__item {
  width: 280px;
  display: block;
  padding: 10px;
  color: #414244;
  position: relative;
  margin: -1px 0 -1px -1px;
  font-size: 1.3rem;
  line-height: 1.8rem;
  text-decoration: none;
  border: 1px solid #ccc;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.hardware__item:hover {
  z-index: 20;
  border-color: #675DC6;
}
.hardware__item_name {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 8px;
}
.hardware__item_image {
  margin-bottom: 8px;
}
.hardware__item_info {
  font-size: 1.5rem;
  line-height: 2rem;
}
.hardware__tab {
  display: none;
}
.hardware__tab.active {
  display: block;
}
@media (min-width: 768px) {
  .hardware__nav {
    margin: 0;
  }
  .hardware__nav li {
    margin: 0 10px 0 0;
    padding: 0;
  }
  .hardware__nav li a {
    color: #000;
    padding: 10px 30px 10px 15px;
    border: 1px solid transparent;
    border-bottom: none;
  }
  .hardware__nav li a:hover {
    color: #675DC6;
  }
  .hardware__nav li a:after {
    top: 16px;
    right: 10px;
    width: 8px;
    height: 8px;
    z-index: 10;
    position: absolute;
    content: "";
    display: inline-block;
    border-left: 1px solid #A8A7A7;
    border-bottom: 1px solid #A8A7A7;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .hardware__nav li.active a {
    color: #000;
    border-color: #ccc;
  }
  .hardware__nav li.active a:before {
    left: 0;
    top: 100%;
    width: 100%;
    height: 3px;
    content: "";
    display: block;
    background: #fff;
    position: absolute;
  }
  .hardware__nav li.active a:after {
    top: 15px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-color: #675DC6;
  }
}
.device {
  float: left;
  margin-bottom: 10px;
  border-top: 1px solid #D6D6E6;
}
.device.open .device__heading_toggle {
  right: 4px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.device.open .device__group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.device_wrap:before, .device_wrap:after {
  content: " ";
  display: table;
}
.device_wrap:after {
  clear: both;
}
.device__heading {
  cursor: pointer;
  min-width: 290px;
  padding: 15px 0;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.1rem;
  padding-right: 70px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.device__heading_modal {
  top: 50%;
  right: 40px;
  z-index: 10;
  content: "";
  width: 23px;
  height: 23px;
  margin-top: -12px;
  position: absolute;
  display: inline-block;
  background: url("../img/icon__squares.svg") 50% 50% no-repeat;
  background-size: cover;
}
.device__heading_toggle {
  top: 50%;
  right: 0;
  z-index: 10;
  content: "";
  width: 12px;
  height: 22px;
  margin-top: -11px;
  position: absolute;
  display: inline-block;
  background: url("../img/icon__angle_right.svg") 50% 50% no-repeat;
  background-size: cover;
}
.device__heading span {
  display: inline-block;
}
.device__status {
  color: #000;
  width: 30px;
  height: 28px;
  display: none;
  font-size: 1.8rem;
  line-height: 2rem;
  padding-top: 6px;
  text-align: center;
  margin: 0 6px 0 0;
  -webkit-flex-shrink: 1;
  -moz-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}
.device__status_alert {
  color: #fff;
  background: url("../img/server__status_red.svg") 50% 50% no-repeat;
  background-size: cover;
}
.device__status_warning {
  background: url("../img/server__status_yellow.svg") 50% 50% no-repeat;
  background-size: cover;
}
.device__group {
  display: none;
  margin: 0 -5px;
  max-width: 660px;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.device__elem {
  width: 290px;
  font-weight: 300;
  padding: 15px;
  position: relative;
  margin: 0 5px 10px 5px;
  border: 1px solid #DBDBDB;
}
.device__elem_title {
  font-size: 1.7rem;
  line-height: 2rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.device__elem_params {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 2.5rem;
  line-height: 3rem;
}
.device__elem_params li {
  padding: 2px 0;
}
.device__elem_params span {
  color: #96A6B6;
}
.device__elem_icon {
  bottom: 40px;
  right: 15px;
  width: 60px;
  height: 60px;
  position: absolute;
}
.device__elem_row {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.device__elem_left {
  width: 96px;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.device__elem_right {
  padding-left: 20px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.device__elem_data {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 300;
  font-size: 1.7rem;
  line-height: 2.1rem;
  margin-bottom: 5px;
}
.device__elem_data:last-child {
  margin-bottom: 0;
}
.device__elem_rotation {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-right: -10px;
}
.device__elem_rotation strong {
  font-size: 2rem;
}
.device__elem_body {
  padding: 15px 0;
}
.device__elem_body > div {
  margin: 0 auto;
}
.device__elem_err {
  width: 88px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .device__heading span {
    padding-top: 6px;
  }
  .device__status {
    display: inline-block;
  }
  .device__elem {
    width: 310px;
  }
}
@media (min-width: 992px) {
  .device__elem {
    width: 320px;
  }
}

.sensor {
  width: 96px;
  position: relative;
}
.sensor_yellow .sensor__data {
  stroke: #ffe14d;
}
.sensor_yellow .sensor__arrow {
  background: url("../img/sensor__yellow.png") 0 0 no-repeat;
}
.sensor_red .sensor__data {
  stroke: #e50e35;
}
.sensor_red .sensor__arrow {
  background: url("../img/sensor__red.png") 0 0 no-repeat;
}
.sensor_blue .sensor__data {
  stroke: #675DC6;
}
.sensor_blue .sensor__arrow {
  background: url("../img/sensor__blue.png") 0 0 no-repeat;
}
.sensor_gray .sensor__data {
  stroke: #e9eef7;
}
.sensor_gray .sensor__arrow {
  background: url("../img/sensor__gray.png") 0 0 no-repeat;
}
.sensor__chart {
  width: 96px;
  height: 96px;
  position: relative;
}
.sensor__scale {
  width: 96px;
  height: 96px;
  stroke: #e7e7e6;
  stroke-width: 5px;
  -webkit-transform: rotate(132deg);
  -ms-transform: rotate(132deg);
  -o-transform: rotate(132deg);
  transform: rotate(132deg);
}
.sensor__data {
  top: 0;
  left: 0;
  width: 96px;
  height: 96px;
  stroke: #e7e7e6;
  stroke-width: 5px;
  position: absolute;
  -webkit-transform: rotate(132deg);
  -ms-transform: rotate(132deg);
  -o-transform: rotate(132deg);
  transform: rotate(132deg);
}
.sensor__arrow {
  top: 50%;
  left: 50%;
  width: 96px;
  height: 96px;
  position: absolute;
  margin: -48px 0 0 -48px;
  background: url("../img/sensor__gray.svg") 50% 50% no-repeat;
}
.sensor__value {
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.4rem;
  position: absolute;
  text-align: center;
}
.sensor_center {
  margin: 0 auto;
}
.sensor_empty {
  color: #73869f;
}

.chart {
  margin: 20px -15px 0 -15px;
  padding: 20px 15px;
  border-top: 1px solid #e4e4ef;
}
.chart__title {
  margin-bottom: 35px;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2rem;
  text-transform: uppercase;
  position: relative;
}
.chart__title_wrap {
  display: inline-block;
  padding-right: 30px;
  position: relative;
}
.chart__title_params {
  top: 0;
  right: 0;
  width: 19px;
  height: 19px;
  display: block;
  position: absolute;
}
@media (min-width: 992px) {
  .chart {
    padding: 20px 50px 20px 50px;
    margin: 20px -50px 0 -50px;
  }
}
@media (min-width: 1260px) {
  .chart {
    padding: 20px 80px 20px 80px;
    margin: 20px -80px 0 -80px;
  }
}

.device_bar {
  margin-bottom: 30px;
}
.device_bar__status {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 10px;
}
.device_bar__views span {
  font-size: 1.7rem;
  line-height: 2rem;
  display: inline-block;
  padding: 2px 6px 2px 0;
}
@media (min-width: 400px) {
  .device_bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .device_bar__status {
    margin-bottom: 0;
  }
}

.select_view {
  border: none;
  outline: none;
  color: #675DC6;
  cursor: pointer;
  font-size: 1.7rem;
  line-height: 2rem;
  padding: 2px 14px 2px 0;
  background: transparent url("../img/icon__select.png") 100% 50% no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none !important;
}
.select_view::-ms-expand {
  display: none;
}

.system_nav {
  margin: 0 -15px 35px -15px;
  padding: 0 15px 10px 15px;
  border-bottom: 4px solid #d7d6e7;
}
.system_nav ul {
  margin: 0 -10px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.system_nav ul li a {
  color: #373a3c;
  padding: 5px 10px;
  font-size: 1.4rem;
  line-height: 2rem;
  display: inline-block;
  text-decoration: none;
}
.system_nav ul li a:hover {
  color: #5f529e;
  text-decoration: none;
}
.system_nav ul li a.active {
  color: #5f529e;
  text-decoration: none;
}
@media (min-width: 768px) {
  .system_nav {
    margin: 0 -50px 35px -50px;
    padding: 0 50px 10px 50px;
  }
}
@media (min-width: 1260px) {
  .system_nav {
    margin: 0 -80px 35px -80px;
    padding: 0 80px 10px 80px;
  }
}
@media (min-width: 1850px) {
  .system_nav {
    padding-bottom: 0;
  }
  .system_nav ul li a {
    margin-bottom: -2px;
    padding-bottom: 25px;
    border-bottom: 2px solid transparent;
  }
  .system_nav ul li a:hover {
    border-bottom-color: #5f529e;
  }
  .system_nav ul li a.active {
    border-bottom-color: #5f529e;
  }
}

.sidenav {
  height: 100%;
  padding: 15px 20px 15px 15px;
}
.sidenav__primary {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidenav__primary > li > a {
  display: block;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  position: relative;
  color: #675DC6;
  text-decoration: none;
  padding: 20px 20px 20px 0;
}
.sidenav__primary > li > a:before {
  right: 0;
  top: 50%;
  content: "";
  width: 12px;
  height: 12px;
  margin-top: -6px;
  position: absolute;
  display: inline-block;
  border-right: 1px solid #675DC6;
  border-bottom: 1px solid #675DC6;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.sidenav__primary > li.open > a:before {
  margin-top: -9px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sidenav__primary > li.open > .sidenav__second {
  display: block;
}
.sidenav__primary > li.open > .sidenav__third {
  display: block;
}
.sidenav__second {
  margin: 0;
  padding: 0;
  display: none;
  list-style: none;
}
.sidenav__second > li {
  padding: 9px 0;
  border-bottom: 1px solid #c5c5c4;
}
.sidenav__second > li > a {
  color: #414244;
  display: block;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  position: relative;
  text-decoration: none;
  padding: 10px 0 10px 25px;
}
.sidenav__second > li > a:before {
  left: 0;
  top: 50%;
  content: "";
  width: 12px;
  height: 12px;
  margin-top: -6px;
  position: absolute;
  display: inline-block;
  border-right: 1px solid #2B2A29;
  border-bottom: 1px solid #2B2A29;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.sidenav__second > li.open > a:before {
  margin-top: -9px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sidenav__second > li.open .sidenav__third {
  display: block;
}
.sidenav__third {
  margin: 0;
  padding: 0;
  display: none;
  list-style: none;
}
.sidenav__third_image {
  margin-top: 8px;
}
.sidenav__third_image_none {
  color: #B2BED1;
  display: block;
  padding: 12px 10px;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: center;
  background: #E7ECF5;
}
.sidenav__third > li > a {
  display: block;
  color: #2B2A29;
  padding: 10px 0;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  position: relative;
}
.sidenav__status {
  top: 0;
  right: 0;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.sidenav__status_elem {
  width: 32px;
  height: 28px;
  font-size: 1.8rem;
  line-height: 2rem;
  padding-top: 6px;
  text-align: center;
  display: inline-block;
  font-style: normal;
  margin: 0 0 0 10px;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.sidenav__status_elem__alert {
  color: #fff;
  background: url("../img/server__status_red.svg") 50% 50% no-repeat;
  background-size: cover;
}
.sidenav__status_elem__warning {
  color: #000;
  background: url("../img/server__status_yellow.svg") 50% 50% no-repeat;
  background-size: cover;
}
@media (min-width: 992px) {
  .sidenav {
    padding: 25px 30px;
  }
  .sidenav__primary > li > a {
    font-size: 1.6rem;
  }
  .sidenav__second > li > a {
    font-size: 1.6rem;
  }
}

.scrollbar-track-y {
  width: 1px !important;
  right: 1px !important;
  opacity: 1 !important;
  background: #cececd !important;
}

.scrollbar-thumb-y {
  right: -1px;
  left: -1px !important;
  width: 3px !important;
  opacity: 0;
  visibility: hidden;
  background: #675DC6 !important;
  border-radius: 3px !important;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.scrollbar-track-x {
  left: 0;
  right: 0;
  opacity: 1 !important;
  height: 1px !important;
  bottom: 1px !important;
  visibility: visible !important;
  background: #cececd !important;
}

.scrollbar-thumb-x {
  top: -1px !important;
  height: 3px !important;
  bottom: -1px !important;
  background: #675DC6 !important;
  border-radius: 3px !important;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.server {
  width: 182px;
  display: block;
  padding: 7px 13px 10px 13px;
  margin: 0 5px 30px 5px;
  border: 1px solid #dfdfdf;
  border-top: 4px solid #675dc6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
.server:hover {
  border-color: #675dc6;
}
.server_red {
  border-top-color: #ff1d45;
}
.server_red:hover {
  border-color: #ff1d45;
}
.server_yellow {
  border-top-color: #ffdf53;
}
.server_yellow:hover {
  border-color: #ffdf53;
}
.server_new {
  border-top-color: #dfdfdf;
}
.server_new .server__item img {
  opacity: 0.4;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.server_new .server__item:before {
  top: 50%;
  left: 50%;
  content: "";
  width: 48px;
  height: 48px;
  display: block;
  position: absolute;
  margin: -24px 0 0 -24px;
  background: url("../img/icon__new_server.svg") 50% 50% no-repeat;
  background-size: cover;
}
.server_new:hover .server__item img {
  opacity: 0.7;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.server_group {
  margin: 0 -5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.server_elem .server__unit {
  opacity: 0.5;
}
.server_elem .server__unit.active {
  opacity: 1;
}
.server_elem .server__divider {
  opacity: 0.5;
}
.server__item {
  position: relative;
  margin: 0 auto 10px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
.server__name {
  height: 20px;
  color: #414244;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
}
.server__unit {
  position: relative;
}
.server__unit:before {
  top: 0;
  bottom: 0;
  left: 9px;
  right: 9px;
  content: "";
  display: block;
  position: absolute;
}
.server__unit_alert:before {
  background: rgba(255, 29, 69, 0.5);
}
.server__unit_warning:before {
  background: rgba(255, 223, 83, 0.5);
}
.server__unit_hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.server__unit_hover:hover {
  z-index: 10;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.server__status {
  color: #fff;
  width: 40px;
  height: 37px;
  padding-top: 7px;
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: center;
  margin: 0 auto 7px auto;
}
.server__status_red {
  background: url("../img/server__status_red.svg") 50% 50% no-repeat;
}
.server__status_yellow {
  color: #000;
  background: url("../img/server__status_yellow.svg") 50% 50% no-repeat;
}
.server__status_inline {
  margin: 0 6px;
  display: inline-block;
}
.server_info {
  width: 270px;
  padding: 15px;
  font-weight: 300;
}
.server_info__title {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 5px;
}
.server_info__list {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  line-height: 2rem;
  list-style: none;
}
.server_info__link {
  padding: 0;
  margin: 0 -4px 15px -4px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.server_info__link li {
  padding: 0 4px;
}
.server_info__link li a {
  width: 36px;
  height: 35px;
  display: block;
}
@media (min-width: 768px) {
  .server_info {
    width: 380px;
  }
  .server_info__link {
    top: 15px;
    right: 15px;
    position: absolute;
  }
}
@media (min-width: 992px) {
  .server_info {
    width: 420px;
  }
  .server_info__title {
    font-size: 1.8rem;
  }
  .server_info__list {
    font-size: 1.5rem;
  }
  .server_info__list li {
    margin-bottom: 2px;
  }
  .server_info__link {
    top: 15px;
    right: 15px;
    position: absolute;
  }
}

.data {
  padding-top: 30px;
}
.data__server {
  margin-bottom: 40px;
}
.data__sensor_elem {
  width: 150px;
}
.data__sensor_legend {
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.6rem;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .data {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .data__server {
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .data__sensor {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 400px;
  }
  .data__sensor_elem {
    margin-left: 50px;
  }
}

@media (min-width: 768px) {
  .tippy-tooltip {
    max-width: 380px !important;
  }
}
@media (min-width: 992px) {
  .tippy-tooltip {
    max-width: 420px !important;
  }
}

.room {
  max-width: 468px;
  padding: 25px 20px;
  border: 1px solid #000;
}
.room__header {
  font-size: 0;
  line-height: 0;
  min-height: 62px;
  text-align: center;
  position: relative;
  padding-bottom: 25px;
}
.room__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.room__elem {
  width: 213px;
  margin-bottom: 10px;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.room__server {
  margin: 0;
  padding: 0;
  border-top: none;
  width: 213px !important;
}
.room__settings {
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  display: block;
  position: absolute;
}
@media (min-width: 576px) {
  .room {
    width: 468px;
    max-width: 468px;
  }
  .room__row {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
  .room__elem {
    margin-bottom: 0;
  }
}

.rack {
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #dfdeec;
}
.rack__new {
  margin-bottom: 30px;
}
.rack__table {
  width: 100%;
  border: 1px solid #dfdeec;
}
.rack__table th {
  padding: 5px;
  text-align: left;
  font-weight: 400;
}
.rack__table td {
  padding: 5px;
  vertical-align: middle;
}
.rack__left {
  max-width: 600px;
  margin-bottom: 40px;
}
.rack__right {
  max-width: 600px;
}
.rack__title {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 30px;
}
.rack__server {
  width: 154px;
}
@media (min-width: 768px) {
  .rack {
    padding: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .rack__left {
    width: 600px;
    margin-right: 80px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .rack__right {
    width: 600px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .rack__table {
    padding: 5px;
  }
  .rack__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .rack__row_left {
    width: 184px;
    padding-right: 30px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .rack__row_right {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}
@media (min-width: 2600px) {
  .rack__form_inline {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .rack__form_inline .form_label {
    width: 150px;
    padding-top: 13px;
    -webkit-flex-shrink: 1;
    -moz-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
  }
  .rack__form_inline .form_input {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

.tippy-tooltip.light-theme .tippy-backdrop {
  color: #000;
  background-color: #fff;
  border: 1px solid #E6E6E6;
  font-weight: 300;
}

/* If `animateFill: false` */
.tippy-tooltip.light-theme {
  color: #000;
  padding: 0;
  text-align: left;
  font-weight: 300;
  background-color: #fff;
  border: 1px solid #E6E6E6;
}

.control {
  max-width: 530px;
  padding: 15px;
  border-top: 1px solid #DBDBDB;
}
.control__heading {
  font-weight: 300;
  font-size: 1.7rem;
  line-height: 2rem;
  margin-bottom: 20px;
}
.control__rack {
  max-width: 526px;
  position: relative;
  padding-right: 36px;
  margin-bottom: 35px;
}
.control__rack_image {
  padding: 0;
  margin: 0 -2px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.control__rack_image li {
  padding: 2px 2px;
}
.control__rack_nav {
  right: 0;
  width: 21px;
  display: block;
  position: absolute;
}
.control__rack_prev {
  top: 1px;
}
.control__rack_next {
  bottom: 1px;
}
.control__buttons {
  padding: 0;
  list-style: none;
  margin: 0 -4px 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.control__buttons li {
  width: 36px;
  height: 36px;
  margin: 0 4px;
}
.control__buttons li a {
  width: 36px;
  height: 36px;
  display: block;
}
.control__info {
  margin: 0 0 20px 0;
  padding: 0;
  font-weight: 300;
  list-style: none;
  font-size: 1.5rem;
  line-height: 2rem;
}
.control__info li {
  padding: 2px 0;
}
.control__info span {
  color: #95A1B3;
}
.control__text {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.1rem;
  margin-bottom: 20px;
}
.control__indicators {
  margin-bottom: 20px;
}
.control__indicators.open .control__indicators_title:before {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.control__indicators.open .control__indicators_body {
  display: block;
}
.control__indicators_title {
  cursor: pointer;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2rem;
  position: relative;
  margin-bottom: 15px;
}
.control__indicators_title:before {
  top: 4px;
  right: 3px;
  content: "";
  width: 22px;
  height: 13px;
  display: block;
  position: absolute;
  background: url("../img/control__down.svg") 50% 50% no-repeat;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.control__indicators_body {
  display: none;
}
.control__indicators_table {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 2rem;
  max-width: 300px;
  list-style: none;
}
.control__indicators_table > li {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background: #FAFAFA;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.control__indicators_table > li strong {
  color: #000;
  font-weight: 300;
  display: inline-block;
}
.control__indicators_table > li span {
  color: #7D7D96;
  display: inline-block;
}
.control__group {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  position: relative;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 23px 50px 23px 25px;
}
.control__group_plus {
  top: 50%;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-top: -15px;
  position: absolute;
}
.control__tags {
  padding: 0;
  margin: 0 -5px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.control__tags > li {
  margin: 0 5px;
}
.control__tags > li a {
  color: #000;
  font-weight: 300;
  position: relative;
  padding-right: 30px;
  text-decoration: none;
  display: inline-block;
}
.control__tags_remove {
  right: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  position: absolute;
}
.control__tags_remove:after, .control__tags_remove:before {
  top: 50%;
  left: 50%;
  width: 16px;
  height: 1px;
  content: "";
  display: block;
  cursor: pointer;
  margin-left: -8px;
  position: absolute;
  background: #675DC6;
}
.control__tags_remove:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.control__tags_remove:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.control__divider {
  border-bottom: 1px solid #c7c7dc;
  margin: 0 -5px 15px -5px;
}
.control__tabs_nav {
  padding: 0;
  list-style: none;
  font-weight: 300;
  line-height: 2rem;
  font-size: 1.4rem;
  margin: 0 0 25px 0;
  border-bottom: 1px solid #c7c7dc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.control__tabs_nav li a {
  color: #2B2A29;
  padding: 5px 15px 15px 15px;
  display: inline-block;
  text-decoration: none;
  margin-bottom: -1px;
  border-bottom: 3px solid transparent;
}
.control__tabs_nav li.active a {
  border-bottom-color: #675dc6;
}
.control__tabs_item {
  display: none;
}
.control__tabs_item.active {
  display: block;
}
.control__search {
  position: relative;
  margin-bottom: 15px;
}
.control__search_input {
  margin: 0;
  width: 100%;
  outline: none;
  height: 38px;
  color: #000;
  border: none;
  padding: 5px 0 12px 40px;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2rem;
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  border-bottom: 1px solid #DBDBDB;
}
.control__search_input__double {
  border-bottom: 2px solid #DBDBDB;
}
.control__search_button {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 25px;
  height: 31px;
  border: none;
  outline: none;
  display: block;
  cursor: pointer;
  position: absolute;
  background: transparent;
}
.control__task {
  width: 100%;
  margin-bottom: 15px;
  border-collapse: collapse;
}
.control__task td {
  padding: 2px 0;
  vertical-align: middle;
}
.control__task td:last-child {
  text-align: right;
}
.control__task_status {
  width: 24px;
  height: 22px;
  padding: 5px 0 3px 0;
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-align: center;
}
.control__task_status.yellow {
  background: url("../img/server__status_yellow.svg") 50% 50% no-repeat;
  background-size: cover;
}
.control__status {
  padding: 5px 25px 5px 10px;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.control__status_alert {
  border-color: #ff1d45;
}
.control__status__wrap {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.control__status_item {
  width: 32px;
  height: 28px;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 2rem;
  padding-top: 6px;
  text-align: center;
  display: inline-block;
  margin: 0 10px 0 0;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.control__status_item__alert {
  color: #fff;
  background: url("../img/server__status_red.svg") 50% 50% no-repeat;
  background-size: cover;
}
.control__status_item__warning {
  color: #000;
  background: url("../img/server__status_yellow.svg") 50% 50% no-repeat;
  background-size: cover;
}
.control__status_text {
  color: #000;
  padding: 4px 0;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 2rem;
  display: inline-block;
}
@media (min-width: 460px) {
  .control__rack_image {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
  .control__rack_image li {
    padding: 0 2px;
  }
}
@media (min-width: 768px) {
  .control {
    padding: 35px 30px;
  }
  .control__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .control__row_left {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .control__row_right {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .control__group {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .control__tabs_nav li a {
    font-size: 1.5rem;
  }
}

.table_column {
  width: 100%;
  border-collapse: collapse;
}
.table_column th,
.table_column td {
  font-weight: 300;
  text-align: left;
  padding: 5px 10px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  border-right: 1px solid #DBDBDB;
}
.table_column th:last-child,
.table_column td:last-child {
  border-right: none;
}
@media (min-width: 576px) {
  .table_column th,
.table_column td {
    font-size: 1.4rem;
  }
}

/*# sourceMappingURL=main.css.map */
