.control {

	max-width: 530px;
	padding: 15px;
	border-top: 1px solid #DBDBDB;

	&__heading {
		font-weight: 300;
		font-size: 1.7rem;
		line-height: 2rem;
		margin-bottom: 20px;
	}

	&__rack {
		max-width: 526px;
		position: relative;
		padding-right: 36px;
		margin-bottom: 35px;

		&_image {
			padding: 0;
			margin: 0 -2px;
			list-style: none;
			@include flexbox();
			@include flex-wrap(wrap);

			li {
				padding: 2px 2px;
			}
		}

		&_nav {
			right: 0;
			width: 21px;
			display: block;
			position: absolute;
		}

		&_prev {
			top: 1px;
		}

		&_next {
			bottom: 1px;
		}
	}

	&__buttons {
		padding: 0;
		list-style: none;
		margin: 0 -4px 20px 0;
		@include flexbox();

		li {
			width: 36px;
			height: 36px;
			margin: 0 4px;

			a {
				width: 36px;
				height: 36px;
				display: block;
			}
		}
	}

	&__info {
		margin: 0 0 20px 0;
		padding: 0;
		font-weight: 300;
		list-style: none;
		font-size: 1.5rem;
		line-height: 2rem;

		li {
			padding: 2px 0;
		}

		span {
			color: #95A1B3;
		}
	}

	&__text {
		font-weight: 300;
		font-size: 1.5rem;
		line-height: 2.1rem;
		margin-bottom: 20px;
	}

	&__indicators {
		margin-bottom: 20px;

		&.open {

			.control__indicators_title {

				&:before {
					@include rotate(0);
				}
			}

			.control__indicators_body {
				display: block;
			}
		}

		&_title {
			cursor: pointer;
			font-weight: 300;
			font-size: 1.6rem;
			line-height: 2rem;
			position: relative;
			margin-bottom: 15px;

			&:before {
				top: 4px;
				right: 3px;
				content: '';
				width: 22px;
				height: 13px;
				display: block;
				position: absolute;
				background: url("../img/control__down.svg") 50% 50% no-repeat;
				@include rotate(-90deg);
			}
		}

		&_body {
			display: none;
		}

		&_table {
			margin: 0;
			padding: 0;
			font-weight: 300;
			font-size: 1.3rem;
			line-height: 2rem;
			max-width: 300px;
			list-style: none;

			> li {
				width: 100%;
				padding: 10px;
				margin-bottom: 10px;
				background: #FAFAFA;
				@include flexbox();
				@include justify-content(space-between);

				strong {
					color: #000;
					font-weight: 300;
					display: inline-block;
				}

				span {
					color: #7D7D96;
					display: inline-block;
				}
			}
		}
	}

	&__group {
		font-weight: 300;
		font-size: 1.4rem;
		line-height: 2rem;
		position: relative;
		margin-bottom: 10px;
		border: 1px solid #ccc;
		padding: 23px 50px 23px 25px;

		&_plus {
			top: 50%;
			right: 20px;
			width: 30px;
			height: 30px;
			cursor: pointer;
			margin-top: -15px;
			position: absolute;
		}
	}

	&__tags {
		padding: 0;
		margin: 0 -5px;
		list-style: none;
		@include flexbox();
		@include flex-wrap(wrap);

		> li {
			margin: 0 5px;

			a {
				color: #000;
				font-weight: 300;
				position: relative;
				padding-right: 30px;
				text-decoration: none;
				display: inline-block;
			}
		}

		&_remove {
			right: 0;
			top: 50%;
			width: 20px;
			height: 20px;
			margin-top: -10px;
			position: absolute;

			&:after,
			&:before {
				top: 50%;
				left: 50%;
				width: 16px;
				height: 1px;
				content: '';
				display: block;
				cursor: pointer;
				margin-left: -8px;
				position: absolute;
				background: #675DC6;
			}

			&:after {
				@include rotate(45deg);
			}

			&:before {
				@include rotate(-45deg);
			}
		}
	}

	&__divider {
		border-bottom: 1px solid #c7c7dc;
		margin: 0 -5px 15px -5px;
	}

	&__tabs {

		&_nav {
			padding: 0;
			list-style: none;
			font-weight: 300;
			line-height: 2rem;
			font-size: 1.4rem;
			margin: 0 0 25px 0;
			border-bottom: 1px solid #c7c7dc;;
			@include flexbox();
			@include flex-wrap(wrap);


			li {
			//	text-align: center;
			//	@include flex-grow(1);

				a {
					color: #2B2A29;
					padding: 5px 15px 15px 15px;
					display: inline-block;
					text-decoration: none;
					margin-bottom: -1px;
					border-bottom: 3px solid transparent;
				}

				&.active {

					a {
						border-bottom-color: #675dc6;
					}
				}
			}
		}

		&_item {
			display: none;

			&.active {
				display: block;
			}
		}
	}

	&__search {
		position: relative;
		margin-bottom: 15px;

		&_input {
			margin: 0;
			width: 100%;
			outline: none;
			height: 38px;
			color: #000;
			border: none;
			padding: 5px 0 12px 40px;
			font-weight: 300;
			font-size: 1.6rem;
			line-height: 2rem;
			display: inline-block;
			vertical-align: middle;
			background: transparent;
			border-bottom: 1px solid #DBDBDB;

			&__double {
				border-bottom: 2px solid #DBDBDB;
			}
		}

		&_button {
			top: 0;
			left: 0;
			margin: 0;
			padding: 0;
			width: 25px;
			height: 31px;
			border: none;
			outline: none;
			display: block;
			cursor: pointer;
			position: absolute;
			background: transparent;
		}
	}

	&__task {
		width: 100%;
		margin-bottom: 15px;
		border-collapse: collapse;

		td {
			padding: 2px 0;
			vertical-align: middle;

			&:last-child {
				text-align: right;
			}
		}

		&_status {
			width: 24px;
			height: 22px;
			padding: 5px 0 3px 0;
			display: inline-block;
			font-size: 1.4rem;
			line-height: 1.4rem;
			text-align: center;

			&.yellow {
				background: url("../img/server__status_yellow.svg") 50% 50% no-repeat;
				background-size: cover;
			}
		}
	}

	&__status {
		padding: 5px 25px 5px 10px;
		border: 1px solid transparent;
		@include flexbox();
		@include justify-content(center);
		@include border-radius(3px);

		&_alert {
			border-color: #ff1d45;
		}

		&__wrap {
			margin-bottom: 20px;
			@include flexbox();
			@include justify-content(center);
		}

		&_item {
			width: 32px;
			height: 28px;
			font-style: normal;
			font-size: 1.8rem;
			line-height: 2rem;
			padding-top: 6px;
			text-align: center;
			display: inline-block;
			margin: 0 10px 0 0;
			@include flex-shrink(0);

			&__alert {
				color: #fff;
				background: url('../img/server__status_red.svg') 50% 50% no-repeat;
				background-size: cover;
			}

			&__warning {
				color: #000;
				background: url('../img/server__status_yellow.svg') 50% 50% no-repeat;
				background-size: cover;
			}
		}

		&_text {
			color: #000;
			padding: 4px 0;
			font-weight: 300;
			font-size: 1.3rem;
			line-height: 2rem;
			display: inline-block;
		}
	}

	@media (min-width: 460px) {

		&__rack {

			&_image {
				@include flex-wrap(nowrap);

				li {
					padding: 0 2px;
				}
			}
		}
	}


	@media (min-width: $screen-md-min) {
		padding: 35px 30px;

		&__row {
			@include flexbox();

			&_left {
				@include order(1);
			}

			&_right {
				@include order(2);
			}
		}

		&__group {
			font-size: 1.6rem;
			line-height: 2rem;
		}

		&__tags {

			&_remove {

			}
		}

		&__tabs {

			&_nav {

				li {

					a {
						font-size: 1.5rem;
					}
				}
			}
		}
	}
}

.table_column {
	width: 100%;
	border-collapse: collapse;

	th,
	td {
		font-weight: 300;
		text-align: left;
		padding: 5px 10px;
		font-size: 1.2rem;
		line-height: 1.8rem;
		border-right: 1px solid #DBDBDB;

		&:last-child {
			border-right: none;
		}
	}

	@media (min-width: $screen-sm-min) {

		th,
		td {
			font-size: 1.4rem;
		}
	}
}

