.sidenav {
	height: 100%;
	padding: 15px 20px 15px 15px;

	&__primary {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {

			> a {
				display: block;
				font-weight: 300;
				font-size: 1.4rem;
				line-height: 2rem;
				position: relative;
				color: $color-violet;
				text-decoration: none;
				padding: 20px 20px 20px 0;

				&:before {
					right: 0;
					top: 50%;
					content: '';
					width: 12px;
					height: 12px;
					margin-top: -6px;
					position: absolute;
					display: inline-block;
					border-right: 1px solid $color-violet;
					border-bottom: 1px solid $color-violet;
					@include rotate(-45deg);
				}
			}

			&.open {

				> a {

					&:before {
						margin-top: -9px;
						@include rotate(45deg);
					}
				}

				> .sidenav__second {
					display: block;
				}

				> .sidenav__third {
					display: block;
				}
			}
		}
	}

	&__second {
		margin: 0;
		padding: 0;
		display: none;
		list-style: none;

		> li {
			padding: 9px 0;
			border-bottom: 1px solid #c5c5c4;

			> a {
				color: #414244;
				display: block;
				font-weight: 300;
				font-size: 1.4rem;
				line-height: 2rem;
				position: relative;
				text-decoration: none;
				padding: 10px 0 10px 25px;

				&:before {
					left: 0;
					top: 50%;
					content: '';
					width: 12px;
					height: 12px;
					margin-top: -6px;
					position: absolute;
					display: inline-block;
					border-right: 1px solid #2B2A29;
					border-bottom: 1px solid #2B2A29;
					@include rotate(-45deg);
				}
			}

			&.open {

				> a {

					&:before {
						margin-top: -9px;
						@include rotate(45deg);
					}
				}

				.sidenav__third {
					display: block;
				}
			}
		}
	}

	&__third {
		margin: 0;
		padding: 0;
		display: none;
		list-style: none;

		&_image {
			margin-top: 8px;

			&_none {
				color: #B2BED1;
				display: block;
				padding: 12px 10px;
				font-size: 1.2rem;
				line-height: 2rem;
				text-align: center;
				background: #E7ECF5;
			}
		}

		> li {

			> a {
				display: block;
				color: #2B2A29;
				padding: 10px 0;
				font-weight: 300;
				font-size: 1.4rem;
				line-height: 2rem;
				position: relative;
			}
		}
	}

	&__status {
		top: 0;
		right: 0;
		position: absolute;
		@include flexbox();

		&_elem {
			width: 32px;
			height: 28px;
			font-size: 1.8rem;
			line-height: 2rem;
			padding-top: 6px;
			text-align: center;
			display: inline-block;
			font-style: normal;
			margin: 0 0 0 10px;
			@include flex-shrink(0);

			&__alert {
				color: #fff;
				background: url('../img/server__status_red.svg') 50% 50% no-repeat;
				background-size: cover;
			}

			&__warning {
				color: #000;
				background: url('../img/server__status_yellow.svg') 50% 50% no-repeat;
				background-size: cover;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding: 25px 30px;

		&__primary {

			> li {

				> a {
					font-size: 1.6rem;
				}
			}
		}

		&__second {

			> li {

				> a {
					font-size: 1.6rem;
				}
			}
		}
	}
}



.scrollbar-track-y  {
	width: 1px !important;
	right: 1px !important;
	opacity: 1 !important;
	background: #cececd !important;
}

.scrollbar-thumb-y {
	right: -1px;
	left: -1px !important;
	width: 3px !important;
	opacity: 0;
	visibility: hidden;
	background: $color-violet !important;
	border-radius: 3px !important;
	@include transition(0.3s);
}


.scrollbar-track-x {
	left: 0;
	right: 0;
	opacity: 1 !important;
	height: 1px !important;
	bottom: 1px !important;
	visibility: visible !important;
	background: #cececd !important;
}

.scrollbar-thumb-x {
	top: -1px !important;
	height: 3px !important;
	bottom: -1px !important;
	background: $color-violet !important;
	border-radius: 3px !important;
	@include transition(0.3s);
}