.header {
	top: 0;
	left: 0;
	right: 0;
	z-index: 1020;
	position: fixed;
	padding: 15px 0;
	background: #393d40;


	&__container {
		max-width: 1730px;
		margin: 0 auto;
		padding: 0 15px;
		@include flexbox();
		@include justify-content(flex-end);
	}

	&__logo {
		width: 105px;
		height: 90px;
		display: none;
	}

	&__wrap {
		@include flexbox();
		@include flex-direction(column);
		@include justify-content(flex-end);
	}

	&__nav {
		font-size: 0;
		line-height: 0;
		margin-bottom: 10px;
		list-style: none;
		@include flexbox();
		@include justify-content(flex-end);

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			@include flexbox();
			@include justify-content(flex-end);

			li {
				margin-right: 20px;

				a {
					color: #fff;
					padding: 1px 0;
					font-size: 1.2rem;
					line-height: 2rem;
					display: inline-block;

					&:hover {
						text-decoration: underline;
					}
				}

				&:last-child {
					margin-right: 0;
					padding-left: 20px;
					border-left: 1px solid rgba(255,255,255,0.5);

					a {
						position: relative;
						padding: 1px 40px 1px 0;

						i {
							top: 0;
							right: 0;
							width: 22px;
							position: absolute;
							display: inline-block;
						}
					}
				}
			}
		}

		&_user {
			color: #fff;
			font-weight: 300;
			font-size: 1.2rem;
			line-height: 2rem;
			position: relative;

			display: inline-block;


			a {

			}
		}
	}

	&__contact {
		text-align: right;
		position: relative;

		@include flexbox();
		@include justify-content(flex-end);

		i {
			width: 30px;
			height: 31px;
			margin-right: 10px;
			display: inline-block;
		}

		a {
			color: #fff;
			font-size: 1.3rem;
			line-height: 2.1rem;
			padding: 5px 0;
			display: inline-block;
			text-decoration: none;
			white-space: nowrap;

			&:hover {
				color: #fff;
				text-decoration: none;
			}
		}
	}

	&__search {
		display: none;
	}

	@media (min-width: $screen-md-min) {

		&__container {
			@include justify-content(space-between);
		}

		&__logo {
			display: block;
		}

		&__nav {
			margin-bottom: 10px;
		}

		&__contact {
			padding: 10px 10px;
			border: 1px dashed #fff;
			@include border-radius(3px);

			a {
				font-size: 1.7rem;
				line-height: 2.1rem;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__bottom {
			position: relative;
			@include flexbox();
		}

		&__search {
			padding: 12px 10px 0 0;
			@include flexbox();

			&_toggle {
				width: 25px;
				height: 31px;
				display: block;
				cursor: pointer;
				margin-right: 20px;
			}

			&_form {
				width: 350px;
				display: none;
				padding-right: 20px;
			}

			&_input {
				margin: 0;
				width: 100%;
				outline: none;
				height: 31px;
				color: #fff;
				border: none;
				padding: 5px 0;
				font-weight: 300;
				font-size: 1.6rem;
				line-height: 2rem;
				display: inline-block;
				vertical-align: middle;
				background: transparent;
				border-bottom: 1px solid #fff;
				@include placeholder(#fff);

				&::-ms-clear {
					display: none;
					width: 0;
					height: 0;
				}

				&:focus,
				&:active {
					outline: none;
					border-bottom-color: #fff;
					@include placeholder(transparent);
				}
			}

			&.open {

				.header__search_form {
					display: block;
				}
			}
		}
	}
}