.page {
	width: 100%;
	overflow: hidden;
	padding-top: 93px;
	min-height: 100vh;
	@include flexbox();
	@include flex-direction(column);

	@media (min-width: $screen-md-min) {
		padding-top: 120px;
	}
}

.main {
	position: relative;
	@include flex-grow(1);
	@include flex-direction(column);

	&.open_sidebar {
		margin-right: -280px;
		margin-left: 280px;

		.main__sidebar {
			left: 0;
			z-index: 800;
			background: #fff;
		}

		.main__sidebar_wrap {
			opacity: 1;
			visibility: visible;
		}

		.main__sidebar_toggle {

			&:after,
			&:before {
				width: 30px;
				margin-left: -15px;
			}

			&:after {
				margin-top: 0;
				@include rotate(45deg);
			}

			&:before {
				margin-top: 0;
				@include rotate(-45deg);
			}
		}
	}

	&.open_control {

		.main__control {
			margin-right: 0;
		}

		.main__control {
			border-left-color: #D6D6E6;
		}

		.main__control_wrap {
			opacity: 1;
			visibility: visible;
		}

		.main__control_toggle {

			&:after,
			&:before {
				width: 30px;
				margin-left: -15px;
			}

			&:after {
				margin-top: 0;
				@include rotate(45deg);
			}

			&:before {
				margin-top: 0;
				@include rotate(-45deg);
			}
		}
	}

	&__sidebar {
		top: 93px;
		left: -265px;
		height: calc(100vh - 93px);
		width: 280px;
		z-index: 300;
		position: fixed;

		&_toggle {
			top: 0;
			right: -40px;
			width: 40px;
			height: 40px;
			display: block;
			cursor: pointer;
			position: absolute;
			background: #F0F3F6;

			&:after,
			&:before {
				top: 50%;
				left: 50%;
				z-index: 10;
				width: 15px;
				height: 1px;
				content: '';
				margin-left: -7px;
				position: absolute;
				background: $color-violet;
			}

			&:after {
				margin-top: -6px;
				@include rotate(45deg);
			}

			&:before {
				margin-top: 5px;
				@include rotate(-45deg);
			}
		}

		&_wrap {
			opacity: 0;
			visibility: hidden;
			height: calc(100vh - 93px);
		}

		&:hover {

			.scrollbar-thumb {
				opacity: 1;
				visibility: visible;
				@include transition(0.3s);
			}
		}
	}

	&__heading {
		margin-bottom: 20px;

		h1 {
			margin-bottom: 0;
		}
	}

	&__filter {
		margin-bottom: 40px;

		ul {
			margin: 5px -10px;
			padding: 0;
			list-style: none;
			@include flexbox();
			@include justify-content(center);

			li {
				padding: 0 10px;
				font-size: 1.6rem;
				line-height: 2rem;
			}
		}

		label {
			font-weight: 300;
			display: inline-block;

			input {
				display: none;
			}

			span {
				color: #414244;
				cursor: pointer;

				&:hover {
					color: $color-violet;
				}
			}

			input:checked + span {
				color: $color-violet;
			}
		}
	}

	&__content {
		padding: 45px 15px 30px 15px;
	}

	&__control {
		top: 93px;
		right: 0;
		background: #fff;
		height: calc(100vh - 93px);
		width: 280px;
		z-index: 100;
		position: fixed;
		margin-right: -265px;
		border-left: 1px solid transparent;

		&_toggle {
			top: 0;
			left: -40px;
			width: 40px;
			height: 40px;
			display: block;
			cursor: pointer;
			position: absolute;
			background: #F0F3F6;

			&:after,
			&:before {
				top: 50%;
				left: 50%;
				z-index: 10;
				width: 15px;
				height: 1px;
				content: '';
				margin-left: -7px;
				position: absolute;
				background: $color-violet;
			}

			&:after {
				margin-top: -6px;
				@include rotate(-45deg);
			}

			&:before {
				margin-top: 5px;
				@include rotate(45deg);
			}
		}

		&_wrap {
			opacity: 0;
			visibility: hidden;
			height: calc(100vh - 93px);
		}

		&:hover {

			.scrollbar-thumb {
				opacity: 1;
				visibility: visible;
				@include transition(0.3s);
			}
		}
	}

	@media (min-width: 460px) {

		&__control {
			width: 400px;
			margin-right: -385px;
		}
	}


	@media (min-width: $screen-md-min) {

		&__sidebar {
			top: 120px;
			height: calc(100vh - 120px);
		}

		&__filter {
			@include flexbox();
			@include justify-content(space-between);

			ul {
				margin: 0 -10px;
				@include justify-content(flex-start);

				li {
					font-size: 1.8rem;
					line-height: 2rem;
				}
			}

			label {

			}
		}

		&__control {
			top: 120px;
			width: 530px;
			margin-right: -515px;
			height: calc(100vh - 120px);
		}
	}


	@media (min-width: $screen-lg-min) {

		&__sidebar {
			width: 322px;
			left: -307px;

			&_toggle {
				width: 50px;
				height: 50px;
				right: -50px;
			}
		}

		&__content {
			padding: 30px 50px;
		}

		&__filter {
			margin-bottom: 50px;
		}

		&.open_sidebar {
			margin-right: 0;
			margin-left: 322px;
		}

	}

	@media (min-width: $screen-xl-min) {

		&.open_control {
			padding-right: 530px;
		}

		&__content {
			padding: 30px 80px;

			&_row {
				@include flexbox();
				@include justify-content(space-between);
			}

			&_primary {
				padding-right: 40px;
				@include flex-grow(1);
			}

			&_second {
				padding-left: 40px;
				border-left: 1px solid #ccc;
			}
		}
	}

	@media (min-width: 1300px) {


	}
}



.filter_bar {
	margin: 0 -15px 40px -15px;
	@include flexbox();
	@include flex-wrap(wrap);

	&__elem {
		color: #818285;
		font-weight: 300;
		font-size: 1.2rem;
		line-height: 2rem;
		position: relative;
		text-decoration: none;
		display: inline-block;
		padding: 0 20px;
		margin: 0 15px 10px 15px;

		&:before {
			left: 0;
			top: 3px;
			content: '';
			width: 12px;
			height: 12px;
			position: absolute;
			display: inline-block;
			background: url("../img/icon__filter.svg") 50% 50% no-repeat;
			background-size: cover;
		}

		i {
			top: 0;
			right: 0;
			width: 20px;
			height: 20px;
			position: absolute;
			display: inline-block;

			&:after,
			&:before {
				top: 50%;
				right: 0;
				width: 14px;
				height: 1px;
				content: '';
				position: absolute;
				background: #818285;
				display: inline-block;
			}

			&:after {
				@include rotate(45deg);
			}

			&:before {
				@include rotate(-45deg);
			}
		}
	}

	&__result {
		color: #675DC6;
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 2rem;
		margin: 0 15px;
	}

	@media (min-width: $screen-lg-min) {
		margin: 0 -20px 40px 0;

		&__elem {
			margin: 0 20px;
		}

		&__result {
			font-size: 1.8rem;
			margin: 0 20px;
		}
	}
}

.hardware {
	margin-bottom: 60px;

	&__nav {
		padding: 0;
		z-index: 10;
		margin: 0 -10px;
		list-style: none;
		position: relative;
		@include flexbox();
		@include flex-wrap(wrap);

		li {
			padding: 0 10px;
			margin-bottom: 10px;

			a {
				color: #000;
				font-size: 1.6rem;
				line-height: 2rem;
				position: relative;
				text-decoration: none;
				display: inline-block;

				&:hover {
					color: $color-violet;
				}

				i {
					display: none;
				}
			}

			&.active {

				a {
					color: $color-violet;
				}
			}
		}
	}

	&__content {

	}

	&__tab {
		position: relative;

		&:before {
			top: 0;
			left: 0;
			width: 1px;
			content: '';
			bottom: 40px;
			position: absolute;
			background: #ccc;
		}
	}

	&__scroll {

	}

	&__row {
		width: auto;
		margin-bottom: 40px;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		@include flexbox();
	}

	&__item {
		width: 280px;
		display: block;
		padding: 10px;
		color: #414244;
		position: relative;
		margin: -1px 0 -1px -1px;
		font-size: 1.3rem;
		line-height: 1.8rem;
		text-decoration: none;
		border: 1px solid #ccc;
		@include flex-shrink(0);

		&:hover {
			z-index: 20;
			border-color: $color-violet;
		}


		&_name {
			font-size: 1.4rem;
			line-height: 2rem;
			margin-bottom: 8px;
		}

		&_image {
			margin-bottom: 8px;
		}

		&_info {
			font-size: 1.5rem;
			line-height: 2rem;
		}
	}

	&__tab {
		display: none;

		&.active {
			display: block;
		}
	}

	@media (min-width: $screen-md-min) {

		&__nav {
			margin: 0;

			li {
				margin: 0 10px 0 0;
				padding: 0;

				a {
					color: #000;
					padding: 10px 30px 10px 15px;
					border: 1px solid transparent;
					border-bottom: none;

					&:hover {
						color: $color-violet;
					}

					&:after {
						top: 16px;
						right: 10px;
						width: 8px;
						height: 8px;
						z-index: 10;
						position: absolute;
						content: '';
						display: inline-block;
						border-left: 1px solid #A8A7A7;
						border-bottom: 1px solid #A8A7A7;
						@include rotate(-135deg);
					}
				}

				&.active {

					a {
						color: #000;
						border-color: #ccc;

						&:before {
							left: 0;
							top: 100%;
							width: 100%;
							height: 3px;
							content: '';
							display: block;
							background: #fff;
							position: absolute;
						}

						&:after {
							top: 15px;
							@include rotate(-45deg);
							border-color: $color-violet;
						}

					}
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}
}

.device {
	float: left;
	margin-bottom: 10px;
	border-top: 1px solid #D6D6E6;

	&.open {

		.device__heading {

			&_toggle {
				right: 4px;
				@include rotate(90deg);
			}
		}

		.device__group {
			@include flexbox();
		}
	}

	&_wrap {
		@include clearfix();
	}

	&__heading {
		cursor: pointer;
		min-width: 290px;
		padding: 15px 0;
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 2.1rem;
		padding-right: 70px;
		position: relative;
		@include flexbox();

		&_modal {
			top: 50%;
			right: 40px;
			z-index: 10;
			content: '';
			width: 23px;
			height: 23px;
			margin-top: -12px;
			position: absolute;
			display: inline-block;
			background: url("../img/icon__squares.svg") 50% 50% no-repeat;
			background-size: cover;
		}

		&_toggle {
			top: 50%;
			right: 0;
			z-index: 10;
			content: '';
			width: 12px;
			height: 22px;
			margin-top: -11px;
			position: absolute;
			display: inline-block;
			background: url("../img/icon__angle_right.svg") 50% 50% no-repeat;
			background-size: cover;
		}

		span {
			display: inline-block;
		}
	}

	&__status {
		color: #000;
		width: 30px;
		height: 28px;
		display: none;
		font-size: 1.8rem;
		line-height: 2rem;
		padding-top: 6px;
		text-align: center;
		margin: 0 6px 0 0;
		@include flex-shrink(1);

		&_alert {
			color: #fff;
			background: url('../img/server__status_red.svg') 50% 50% no-repeat;
			background-size: cover;
		}

		&_warning {
			background: url('../img/server__status_yellow.svg') 50% 50% no-repeat;
			background-size: cover;
		}
	}


	&__group {
		display: none;
		margin: 0 -5px;
		max-width: 660px;
		@include flex-wrap(wrap);
	}

	&__elem {
		width: 290px;
		font-weight: 300;
		padding: 15px;
		position: relative;
		margin: 0 5px 10px 5px;
		border: 1px solid #DBDBDB;

		&_title {
			font-size: 1.7rem;
			line-height: 2rem;
			margin-bottom: 10px;
			text-transform: uppercase;
		}

		&_params {
			margin: 0;
			padding: 0;
			list-style: none;
			font-size: 2.5rem;
			line-height: 3rem;

			li {
				padding: 2px 0;
			}

			span {
				color: #96A6B6;
			}
		}

		&_icon {
			bottom: 40px;
			right: 15px;
			width: 60px;
			height: 60px;
			position: absolute;
		}

		&_row {
			margin-bottom: 10px;
			@include flexbox();
		}

		&_left {
			width:  96px;
			@include flex-shrink(0);
		}

		&_right {
			padding-left: 20px;
			@include flex-grow(1);
		}

		&_data {
			margin: 0;
			padding: 0;
			list-style: none;
			font-weight: 300;
			font-size: 1.7rem;
			line-height: 2.1rem;
			margin-bottom: 5px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&_rotation {
			font-weight: 300;
			font-size: 1.6rem;
			line-height: 2rem;
			margin-right: -10px;

			strong {
				font-size: 2rem;
			}
		}

		&_body {
			padding: 15px 0;

			> div {
				margin: 0 auto;
			}
		}

		&_err {
			width: 88px;
			margin: 0 auto;
		}
	}

	@media (min-width: $screen-md-min) {

		&__heading {
			span {
				padding-top: 6px;
			}
		}

		&__status {
			display: inline-block;
		}

		&__elem {
			width: 310px;
		}
	}


	@media (min-width: $screen-lg-min) {

		&__elem {
			width: 320px;
		}
	}
}

.sensor {
	width: 96px;
	position: relative;

	&_yellow {

		.sensor__data {
			stroke: #ffe14d;
		}

		.sensor__arrow {
			background: url("../img/sensor__yellow.png") 0 0 no-repeat;
		}
	}

	&_red {

		.sensor__data {
			stroke: #e50e35;
		}

		.sensor__arrow {
			background: url("../img/sensor__red.png") 0 0 no-repeat;
		}
	}

	&_blue {

		.sensor__data {
			stroke: #675DC6;
		}

		.sensor__arrow {
			background: url("../img/sensor__blue.png") 0 0 no-repeat;
		}
	}

	&_gray {

		.sensor__data {
			stroke: #e9eef7;
		}

		.sensor__arrow {
			background: url("../img/sensor__gray.png") 0 0 no-repeat;
		}
	}

	&__chart {
		width: 96px;
		height: 96px;
		position: relative;
	}

	&__scale {
		width: 96px;
		height: 96px;
		stroke: #e7e7e6;
		stroke-width: 5px;
		@include rotate(132deg);
	}

	&__data {
		top: 0;
		left: 0;
		width: 96px;
		height: 96px;
		stroke: #e7e7e6;
		stroke-width: 5px;
		position: absolute;
		@include rotate(132deg);
	}

	&__arrow {
		top: 50%;
		left: 50%;
		width: 96px;
		height: 96px;
		position: absolute;
		margin: -48px 0 0 -48px;
		background: url("../img/sensor__gray.svg") 50% 50% no-repeat;
	}

	&__value {
		left: 0;
		right: 0;
		bottom: 0;
		font-size: 2rem;
		font-weight: 300;
		line-height: 2.4rem;
		position: absolute;
		text-align: center;
	}

	&_center {
		margin: 0 auto;
	}

	&_empty {
		color: #73869f;
	}
}

.chart {
	margin: 20px -15px 0 -15px;
	padding: 20px 15px;
	border-top: 1px solid #e4e4ef;

	&__title {
		margin-bottom: 35px;
		font-weight: 300;
		font-size: 1.8rem;
		line-height: 2rem;
		text-transform: uppercase;
		position: relative;

		&_wrap {
			display: inline-block;
			padding-right: 30px;
			position: relative;
		}

		&_params {
			top: 0;
			right: 0;
			width: 19px;
			height: 19px;
			display: block;
			position: absolute;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding: 20px 50px 20px 50px;
		margin: 20px -50px 0 -50px;
	}

	@media (min-width: $screen-xl-min) {
		padding: 20px 80px 20px 80px;
		margin: 20px -80px 0 -80px;
	}
}

.device_bar {
	margin-bottom: 30px;

	&__status {
		font-weight: 300;
		font-size: 1.8rem;
		line-height: 2rem;
		margin-bottom: 10px;
	}

	&__views {

		span {
			font-size: 1.7rem;
			line-height: 2rem;
			display: inline-block;
			padding: 2px 6px 2px 0;
		}
	}

	@media (min-width: 400px) {
		@include flexbox();
		@include justify-content(space-between);

		&__status {
			margin-bottom: 0;
		}
	}
}

.select_view {
	border: none;
	outline: none;
	color: #675DC6;
	cursor: pointer;
	font-size: 1.7rem;
	line-height: 2rem;
	padding: 2px 14px 2px 0;
	background: transparent url("../img/icon__select.png") 100% 50% no-repeat;

	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none!important;

	&::-ms-expand {
		display: none;
	}
}


.system_nav {
	margin: 0 -15px 35px -15px;
	padding: 0 15px 10px 15px;
	border-bottom: 4px solid #d7d6e7;


	ul {
		margin: 0 -10px;
		padding: 0;
		list-style: none;
		@include flexbox();
		@include flex-wrap(wrap);

		li {

			a {
				color: #373a3c;
				padding: 5px 10px;
				font-size: 1.4rem;
				line-height: 2rem;
				display: inline-block;
				text-decoration: none;


				&:hover {
					color: #5f529e;
					text-decoration: none;
				}

				&.active {
					color: #5f529e;
					text-decoration: none;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		margin: 0 -50px 35px -50px;
		padding: 0 50px 10px 50px;
	}

	@media (min-width: $screen-xl-min) {
		margin: 0 -80px 35px -80px;
		padding: 0 80px 10px 80px;
	}


	@media (min-width: 1850px) {
		padding-bottom: 0;

		ul {

			li {

				a {
					margin-bottom: -2px;
					padding-bottom: 25px;
					border-bottom: 2px solid transparent;

					&:hover {
						border-bottom-color: #5f529e;
					}

					&.active {
						border-bottom-color: #5f529e;
					}
				}
			}
		}
	}
}


@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}
