.server {
	width: 182px;
	display: block;
	padding: 7px 13px 10px 13px;
	margin: 0 5px 30px 5px;
	border: 1px solid #dfdfdf;
	border-top: 4px solid #675dc6;
	@include flexbox();
	@include flex-direction(column);
	@include justify-content(flex-end);

	&:hover {
		border-color: #675dc6;
	}

	&_red {
		border-top-color: #ff1d45;

		&:hover {
			border-color: #ff1d45;
		}
	}

	&_yellow {
		border-top-color: #ffdf53;

		&:hover {
			border-color: #ffdf53;
		}
	}

	&_new {
		border-top-color: #dfdfdf;

		.server__item {

			img {
				opacity: 0.4;
				@include transition(.3s);
			}

			&:before {
				top: 50%;
				left: 50%;
				content: '';
				width: 48px;
				height: 48px;
				display: block;
				position: absolute;
				margin: -24px 0 0 -24px;
				background: url("../img/icon__new_server.svg") 50% 50% no-repeat;
				background-size: cover;
			}
		}

		&:hover {

			.server__item {

				img {
					opacity: 0.7;
					@include transition(.3s);
				}
			}
		}
	}

	&_group {
		margin: 0 -5px;
		@include flexbox();
		@include flex-wrap(wrap);
	}

	&_elem {

		.server__unit {
			opacity: 0.5;

			&.active {
				opacity: 1;
			}
		}

		.server__divider {
			opacity: 0.5;
		}
	}

	&__item {
		position: relative;
		margin: 0 auto 10px auto;
		@include flexbox();
		@include flex-direction(column);
		@include justify-content(flex-end);
	}

	&__name {
		height: 20px;
		color: #414244;
		font-size: 1.6rem;
		line-height: 2rem;
		text-align: center;
	}

	&__unit {
		position: relative;

		&:before {
			top: 0;
			bottom: 0;
			left: 9px;
			right: 9px;
			content: '';
			display: block;
			position: absolute;
		}

		&_alert {

			&:before {
				background: rgba(255,29,69,0.5);

			}
		}

		&_warning {

			&:before {
				background: rgba(255,223,83,0.5);
			}
		}

		&_hover {
			@include transition(.3s);

			&:hover {
				z-index: 10;
				@include scale(1.1);
				@include transition(.3s);
			}
		}
	}

	&__status {
		color: #fff;
		width: 40px;
		height: 37px;
		padding-top: 7px;
		font-size: 1.6rem;
		line-height: 2.6rem;
		text-align: center;
		margin: 0 auto 7px auto;

		&_red {
			background: url("../img/server__status_red.svg") 50% 50% no-repeat;
		}

		&_yellow {
			color: #000;
			background: url("../img/server__status_yellow.svg") 50% 50% no-repeat;
		}

		&_inline {
			margin: 0 6px;
			display: inline-block;
		}
	}


	&_info {
		width: 270px;
		padding: 15px;
		font-weight: 300;

		&__title {
			font-size: 1.6rem;
			line-height: 2rem;
			margin-bottom: 5px;
		}

		&__list {
			margin: 0;
			padding: 0;
			font-size: 1.2rem;
			line-height: 2rem;
			list-style: none;
		}

		&__link {
			padding: 0;
			margin: 0 -4px 15px -4px;
			list-style: none;
			@include flexbox();

			li {
				padding: 0 4px;

				a {
					width: 36px;
					height: 35px;
					display: block;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&_info {
			width: 380px;

			&__link {
				top: 15px;
				right: 15px;
				position: absolute;
			}
		}
	}


	@media (min-width: $screen-lg-min) {

		&_info {
			width: 420px;

			&__title {
				font-size: 1.8rem;
			}

			&__list {
				font-size: 1.5rem;

				li {
					margin-bottom: 2px;
				}
			}

			&__link {
				top: 15px;
				right: 15px;
				position: absolute;
			}
		}
	}
}

.data {
	padding-top: 30px;

	&__server {
		margin-bottom: 40px;
	}

	&__sensor {

		&_elem {
			width: 150px;
		}

		&_legend {
			text-align: center;
			margin-bottom: 40px;
			font-size: 1.6rem;
			line-height: 2rem;
		}
	}

	@media (min-width: $screen-md-min) {
		@include flexbox();

		&__server {
			@include flex-shrink(0);
		}

		&__sensor {
			@include flex-grow(1);
			@include flexbox();
			@include flex-wrap(wrap);
			max-width: 400px;

			&_elem {
				margin-left: 50px;
			}
		}

	}
}

.tippy-tooltip {

	@media (min-width: $screen-md-min) {
		max-width: 380px !important;
	}

	@media (min-width: $screen-lg-min) {
		max-width: 420px !important;
	}
}

.room {
	max-width: 468px;
	padding: 25px 20px;
	border: 1px solid #000;

	&__header {
		font-size: 0;
		line-height: 0;
		min-height: 62px;
		text-align: center;
		position: relative;
		padding-bottom: 25px;
	}

	&__row {
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(center)
	}

	&__elem {
		width: 213px;
		margin-bottom: 10px;
		@include flex-shrink(0);
	}

	&__server {
		margin: 0;
		padding: 0;
		border-top: none;
		width: 213px !important;
	}

	&__settings {
		top: 0;
		left: 0;
		width: 36px;
		height: 36px;
		display: block;
		position: absolute;
	}

	@media (min-width: $screen-sm-min) {
		width: 468px;
		max-width: 468px;

		&__row {
			@include flex-wrap(nowrap);
		}

		&__elem {
			margin-bottom: 0;
		}
	}
}

.rack {
	padding: 10px;
	margin-bottom: 30px;
	border: 1px solid #dfdeec;

	&__new {
		margin-bottom: 30px;
	}

	&__table {
		width: 100%;
		border: 1px solid #dfdeec;

		th {
			padding: 5px;
			text-align: left;
			font-weight: 400;
		}

		td {
			padding: 5px;
			vertical-align: middle;
		}
	}

	&__left {
		max-width: 600px;
		margin-bottom: 40px;
	}

	&__right {
		max-width: 600px;
	}

	&__title {
		font-size: 1.6rem;
		line-height: 2rem;
		margin-bottom: 30px;
	}

	&__server {
		width: 154px;
	}

	@media (min-width: $screen-md-min) {
		padding: 25px;
		@include flexbox();
	//	@include justify-content(space-between);
		@include flex-wrap(wrap);

		&__left {
			width: 600px;
			margin-right: 80px;
			@include flex-shrink(0);
		}

		&__right {
			width: 600px;
			@include flex-shrink(0);
		}

		&__table {
			padding: 5px;
		}

		&__row {
			@include flexbox();

			&_left {
				width: 184px;
				padding-right: 30px;
				@include flex-shrink(0);
			}

			&_right {
				@include flex-grow(1);
			}
		}
	}

	@media (min-width: 2600px) {

		&__form_inline {
			@include flexbox();

			.form_label {
				width: 150px;
				padding-top: 13px;
				@include flex-shrink();
			}

			.form_input {
				@include flex-grow(1);
			}
		}
	}
}


.tippy-tooltip.light-theme .tippy-backdrop {
	color: #000;
	background-color: #fff;
	border: 1px solid #E6E6E6;
	font-weight: 300;
}

/* If `animateFill: false` */
.tippy-tooltip.light-theme {
	color: #000;
	padding: 0;
	text-align: left;
	font-weight: 300;
	background-color: #fff;
	border: 1px solid #E6E6E6;
}