
.breadcrumb {
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	margin: 0 0 20px 15px;

	> li {
		color: #808184;
		font-size: 1.1rem;
		line-height: 1.5rem;
		display: inline-block;

		&:after {
			content: '>';
			padding: 0 5px;
		}

		&:last-child {

			&:after {
				display: none;
			}
		}

		> a {
			color: #808184;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}