
.btn {
	color: #fff;
	font-weight: 300;
	font-size: 1.5rem;
	line-height: 2rem;
	padding: 12px 30px;

	outline: none;
	cursor: pointer;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #675DC6;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	border: 1px solid #675DC6;

	@include border-radius(3px);
	@include transition(.2s);

	&:hover {
		color: #675DC6;
		background: #fff;
		border-color: #675DC6;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_transparent {
	color: #BABAD4;
	padding: 12px 5px;
	background: transparent;
	border-color: transparent;

	&:hover {
		color: #444;
		background: transparent;
		border-color: transparent;
	}
}

.btn_group {
	padding: 0;
	margin: 0 -10px;
	list-style: none;
	@include flexbox();
	@include flex-wrap(wrap);

	> li {
		padding: 10px;
		margin-bottom: 5px;
	}
}

.align_right {
	@include justify-content(flex-end);
}

.flex_right {
	@include justify-content(flex-end);
}