.form_control {
	margin: 0;
	width: 100%;
	outline: none;
	height: 48px;
	color: #000;
	font-weight: 300;
	background: #fff;
	font-size: 1.5rem;
	line-height: 2rem;
	padding: 13px 10px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #ccc;
	@include placeholder(#000);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus,
	&:active {
		outline: none;
		border-color: #444;
		@include placeholder(transparent);
	}
}

.form_group {
	margin-bottom: 15px;
}

.form_label {
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 2rem;
	margin-bottom: 5px;
	display: inline-block;
}

.form_inline {

	.form_label {

	}

	.form_input {

	}


	@media (min-width: $screen-md-min) {
		@include flexbox();
		@include justify-content(space-between);

		.form_label {
			padding-top: 10px;
			padding-bottom: 0;
			@include flex-grow(1);
		}

		.form_input {
			width: 300px;
			@include flex-shrink(0);
		}
	}
}

.form_interval {
	margin-left: -15px;

	&__group {
		margin-bottom: 10px;
		@include flexbox();
	}

	&__label {
		width: 45px;
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 2rem;
		padding: 10px 0 0 15px;
		display: inline-block;
		@include flex-shrink(0);
	}

	&__input {
		@include flex-grow(1);
	}


	@media (min-width: $screen-sm-min) {
		@include flexbox();
		margin-left: -45px;

		&__group {
			width: 50%;
		}
	}
}

.form_checkbox {
	font-size: 0;
	line-height: 0;
	font-weight: 700;
	display: inline-block;

	input {
		display: none;
	}

	span {
		cursor: pointer;
		font-size: 1.6rem;
		line-height: 2rem;
		padding-left: 30px;
		min-height: 20px;
		position: relative;
		display: inline-block;

		&:before {
			top: 0;
			left: 0;
			width: 20px;
			height: 20px;
			content: '';
			position: absolute;
			display: inline-block;
			border: 1px solid #ccc;
			@include border-radius(3px);
		}

		&:after {
			top: 4px;
			left: 4px;
			width: 12px;
			height: 12px;
			content: '';
			opacity: 0;
			visibility: hidden;
			position: absolute;
			display: inline-block;
			background: #ccc;
			@include border-radius(3px);

		}

		&:hover {

			&:before {
				border-color: #555;
			}

			&:after {
				background: #555;
			}
		}
	}


	input:checked + span {

		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
}